<a href="https://colab.research.google.com/github/karolyamar21/Data-Analytics/blob/main/Data_Analysis_with_Python%7C_Cars_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cars Dataset

![](https://www.freewebheaders.com/wp-content/gallery/cars/silver-porsche-car-on-purple-background-header.jpg)

Here's a data of different cars with their specifications

Note: We are using Pandas DataFrame

### Data Cleaning

In [ ]:
import pandas as pd

In [ ]:
car = pd.read_csv('../input/carsdataset2024/Carsdataset2024.csv')

In [ ]:
car.head()

In [ ]:
car.shape

1. Find a Null Value in the dataset. If there is any null value in any column, then fill it with the mean of that column

In [ ]:
car.isnull().sum()

In [ ]:
car['Cylinders'].fillna(car['Cylinders'].mean())

In [ ]:
car.isnull().sum()

In [ ]:
car.dropna(inplace = True)
print(car.to_string())

In [ ]:
car

In [ ]:
car.isnull().sum()

2. Question(Based on value Counts)

Check what are the different types of Make are there in our dataset. And, what is the count(occurence) of each Make in the data?

In [ ]:
car.head(2)

In [ ]:
car['Make'].value_counts()

3. Instruction(Filtering)

Show all the records where Origin is asia or Europe

In [ ]:
car[car['Origin'].isin(['Asia','Europe'])]

4. Remove all the records where Weight is above 4000

In [ ]:
car[~(car['Weight']>4000)]

In [ ]:
car.head(2)

Applying Function on a column

Increase of the values of MPG_City column by 3

In [ ]:
car['MPG_City'] = car['MPG_City'].apply(lambda x:x+3)

In [ ]:
car

Training Source: https://www.youtube.com/@data_science_lovers